/*@media only screen and (max-width: 1400px) {
    body {background: url('../images/body-content-bg-1200.jpg') no-repeat top center;}
    body.home {background: url('../images/body-home-bg-1200.jpg') no-repeat top center;}
    .site-header {top: 5px;}
}*/

@media only screen and (max-width: 1199px) {
    html { font-size: 16px; } /* http://j.eremy.net/confused-about-rem-and-em/ */
    body.sticky-site-footer { margin-bottom: 123px; } /* match .site-footer height */
    body.sticky-site-footer .site-footer { height: 123px; } /* match body.sticky-site-footer margin-bottom */
    .navbar-header {width: 35%;}
    .tagline {display: none;}
    .cta-cmelearning {background: rgba(255,255,255,.70); height: auto;}
    .cta-contact span {font-size: 16px;}
    .cta-contact {padding: 10px 25px;}
    .contextual-image figcaption {font-size: 16px;}
    .cta-contact {padding: 4px 25px;}
}

@media only screen and (max-width: 991px) {
    html { font-size: 16px; } /* http://j.eremy.net/confused-about-rem-and-em/ */
    body.sticky-site-footer { margin-bottom: 123px; } /* match .site-footer height */
    body.sticky-site-footer .site-footer { height: 123px; } /* match body.sticky-site-footer margin-bottom */
    .offices {padding-top: 20px;}
    .navbar-default .navbar-nav > li > a {padding: 22px 7px 25px; font-size: 14px;}
    .navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 21px 8px 26px;}
    .services ul {margin: 0; width: 100%; padding-left: 0;}
    .services li {float: none;}
    .cta-contact {width: 370px;}
    .footer-content {bottom: auto;}
    .sidebar {padding-top: 0; padding-bottom: 30px;}
    .content {padding-bottom: 40px;}
    .cta-contact {padding: 20px 25px;}
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {margin-right: 0;}
}

@media only screen and (max-width: 767px) {
    html { font-size: 16px; } /* http://j.eremy.net/confused-about-rem-and-em/ */
    body.sticky-site-footer { margin-bottom: 123px; } /* match .site-footer height */
    body.sticky-site-footer .site-footer { height: 123px; } /* match body.sticky-site-footer margin-bottom */
    .dropdown-menu.bedstone-bootstrap-hover-dropdown { display: block; float: none; position: relative; }
    .dropdown-menu {box-shadow: none; border: none;}
    .navbar-header {width: 100%;}
    .footer-logos {float: left !important; padding-top: 10px;}
    .navbar-collapse {width: 100%; margin-top: 14px; overflow: hidden; background: #fff; box-shadow: 0 4px 6px -6px #000; border-left: 1px solid #ccc; border-right: 1px solid #ccc; position: relative; left: -15px; padding-bottom: 15px;}
    .navbar-default {background: transparent; border: none;}
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-nav > li:hover > a, .navbar-nav > li.current_page_parent > a {background: transparent; border-bottom: 5px solid transparent;}
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 8px 17px 0; font-size: 16px;}
    .dropdown-menu > li > a {margin: 3px 30px;}
    .dropdown-menu > li > a {white-space: normal;}
    /*.navbar-default {background: #fff;}
    .nav > li {width: 93%;}
    .navbar-default .navbar-nav > li > a:hover {background: #fff;}
    .navbar-default .navbar-nav > li > a {padding: 10px 9px; font-size: 16px;}
    */
    .document-header h1 {font-size: 45px; line-height: 55px;}
    .content .callout {font-size: 20px; line-height: 32px;}
    .contextual-image figcaption {bottom: 0; color: #1f2426; padding: 15px 0 0; text-shadow: none; position: relative; font-size: 16px;}
    .content {padding-top: 15px;}
}

@media only screen and (max-width: 480px) {
    html { font-size: 16px; } /* http://j.eremy.net/confused-about-rem-and-em/ */
    body.sticky-site-footer { margin-bottom: 123px; } /* match .site-footer height */
    body.sticky-site-footer .site-footer { height: 123px; } /* match body.sticky-site-footer margin-bottom */
    .cta-contact {width: 100%; max-width: 370px;}
    .footer-content {top: 20px;}
    body.home .document-header h1 {font-size: 40px; line-height: 50px;}
    .navbar-toggle {margin-right: 0;}
    .navbar-brand {background-size: 70%; position: relative; top: 15px;}
    .document-header h1 {font-size: 35px; line-height: 45px;}
    .content .callout {font-size: 18px; line-height: 32px;}
    .cta-contact {padding: 10px 25px;}
}

@media only screen and (max-width: 400px) {
    .cta-contact {padding: 5px 25px;}
}

@media only screen and (max-width: 350px) {
    .cta-contact span {top: 5px;}
    .cta-contact {padding: 17px 25px;}
}
